
@font-face {
  font-family: KGEverywhereEverything;
  src: url("../font/KGEverywhereEverything.otf");
}

.draw {
  margin-left: 25%;
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

button {
  margin-top: 4px;
  padding: 15px;
  border: 0;
  background: gray;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: linear 0.2s background;
  &.blue {
    background: #45ace9;
  }
  &.red {
    background: #dd3832;
  }
}

.btn-list {
  display: flex;
  margin-bottom: 30px;
  .btn {
    flex: 1;
    height: 40px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
  }
}

.wheel-result {
  span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 3px;
  }
}

.title {
  margin-top: 3%;
  text-align: center;
  font-size: 6em;
  font-family: "Cafe24Decoschool", serif;
  color: #FFFFFF;
}

.question {
  margin-top: 3%;
  text-align: center;
  font-size: 2.5em;
  font-family: "Cafe24Decoschool", serif;
  color: #FFFFFF;
}


.counter {
  text-align: center;
  font-size: 4em;
  font-family: "Cafe24Decoschool", serif;
  color: #FFFFFF;
}


.answer {
  margin-top: 3%;
  text-align: center;
  font-size: 2em;
  font-family: "Cafe24Decoschool", serif;
  color: #FFFFFF;
}