@import './base.css';

@font-face {
  font-family: Cafe24Decoschool;
  src: url("font/Cafe24Decoschool.ttf");
}



body {
  background-image:  url("./background.jpg")  ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  margin: 0;
  border: 0;
  padding: 0;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    place-items: center;
  }

  #app {
    display: block;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
